body {
    background-color: chocolate;
    margin: 0px;
    padding:0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.my_menu {
    position:absolute;
    height: auto;
    width: 100%;
    background-color: rgb(179, 159, 145);
}

.menu ul li{
    margin: 0px;
}

.menu ul{
    display:none;
}

.menu li:hover ul{
    display:block;
}

.menu li {
    list-style: none;
    height: 60px;
    width: 160px;
    margin-left: 40px;
    background-color: rgb(103, 77, 77);
    text-align: center;
    line-height: 60px;
    float: left;
}

.menu li:hover{
    background-color: burlywood;
}

.menu li a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

.menu li a:hover{
    color:crimson;
}
.logo {
    width: 69px;
}

.logo_li{
    background-color: rgb(179, 159, 145)!important;
}

.heading {
    font-size: 40px;
    text-align: center;
    height: 55px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: beige;
    border: 2px solid black;
}

.div1 {

    margin-top: 150px;
    margin-right:50 px;
    margin-left: 300px;

    padding-right: 20px;
    padding-left: 20px;
    border: 5px solid black;
    height: 50%;
    width: 50%;
}

h1 {
    text-align: center;
    font-size: 40px;
    color:aqua;
}

a {
    color:aqua;
}
